body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    
}

/* preview section */

.preview {
    margin-top: 7%;
    margin-left: 25%;
    height: 75%;
    width: 70%;
}

/* preview card */
.card {
    border-radius: 2%;
    max-width: 75%;
}

/* card img */
.card-img {
    border-radius: 2% 0 0 2%;
}

/* card information */
.card-body {
    line-height: 1.5;
    padding: 10%;
}
.card-body h2 {
    font-size: 1rem;
    padding-bottom: 5%;
}

.card-body h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: black;
    padding-bottom: 5%;
}

.product-desc {
    font-size: 1.12rem;
    padding-bottom: 5%;
}

.card-body h3 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    padding-right: 0;
}

.ori-price {
    text-decoration: line-through;
    padding: 5% 0 0 0;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin-top: 10%;
}

.btn:hover {
    background: hsl(158, 39%, 53%);
}

@media (max-width:987px) {
    .card{
        border-radius: 2%;
    }
    
    .card-img {
        border-radius: 2% 2% 0 0;
    }

    .ori-price {
        padding: 0 10%;
    }
}